
<div class='main'>
<form id="editEntryForm">
<p class="entry-stub">В период пандемии все равно хочется поехать в другую страну, оцените обстановку в выбранной стране и подумайте еще раз</p>
<button type="submit" id="lernbtn"  value="Хочу узнать" class="no-border no-outline no-bg c-white hover-underline" >Хочу узнать, что происходит в стране</button>
</form>
</div>




